body
{
    background-color: aliceblue;
 margin: 2px;
}
h1{
    color: white;
    text-align: center;
    background-color: grey;
    height: 50px;
    padding: 30px;
    
}
main h2{
    padding: 7%;
}
main{
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: 400px;
    padding: 2px;
    background-color: beige;
    
    margin-left: 40%;
    
}
main form tr{
    border-color: black;
    padding: 3px;
    margin: 2px;
}